<div class="detail">
  <div class="intro">SelectOption</div>
  <div class="info">SelectOption is a simple generic class holding a label and a generically typed value.</div>
  <div class="detail-section">
    <div class="header">Properties</div>
    <table class="nested-table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Data type</th>
      </tr>
      <tr>
        <td>label</td>
        <td>The label is generally what would be displayed in the UI to represent the SelectOption.</td>
        <td>string</td>
      </tr>
      <tr>
        <td>value</td>
        <td>The value is a generically typed object.</td>
        <td>T</td>
      </tr>
    </table>
  </div>
</div>
