<div class="detail">
  <h2 class="intro">Checkbox</h2>
  <div class="info">A checkbox that can be used in a selection or toggle.</div>
  <div class="detail-section component-section">
    <div class="header">Demo</div>
    <div class="component-demo">
      <lib-dashed-checkbox></lib-dashed-checkbox>
    </div>
  </div>
  <div class="detail-section">
    <div class="header">Required Imports</div>
    <div>import &#123; DashedCheckboxModule &#125; from 'ui-builder-component-lib';</div>
  </div>
  <div class="detail-section">
    <div class="header">Input and Output Properties</div>
    <table class="nested-table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Description</th>
          <th>default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Input</td>
          <td>checked</td>
          <td>Determines whether the checkbox is checked.</td>
          <td>false</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>disabled</td>
          <td>Determines whether the checkbox is disabled.</td>
          <td>false</td>
        </tr>
        <tr>
          <td>Output</td>
          <td>toggle</td>
          <td>Emits an event when the checkbox is toggled, passing the new checked state.</td>
          <td>n/a</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="detail-section">
    <div class="header">CSS Properties</div>
    <table class="nested-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>description</th>
          <th>default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>-color</td>
          <td>defines the color of the checkmark and the border</td>
          <td>black</td>
        </tr>
        <tr>
          <td>--check-line-width</td>
          <td>defines how thick the check line should be</td>
          <td>3px</td>
        </tr>
        <tr>
          <td>--size</td>
          <td>defines how wide and high the checkbox should be. The checkbox is always squared shape</td>
          <td>32px</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="detail-section">
    <div class="header">Example usage</div>
    <div class="code-section">
      <code>{{ codeExample }}</code>
    </div>
  </div>
</div>
