<div class="detail">
  <h2 class="intro">Section Separator</h2>
  <div class="info">A visual separator for enhancing content organization in your interface.</div>
  <div class="detail-section component-section">
    <div class="header">Demo</div>
    <div class="component-demo">
      <lib-section-separator></lib-section-separator>
    </div>
  </div>
  <div class="detail-section">
    <div class="header">Required Imports</div>
    <div>import &#123; SectionSeparatorComponent &#125; from 'ui-builder-component-lib';</div>
  </div>
  <div class="detail-section">
    <div class="header">CSS Properties</div>
    <table class="nested-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>--border-fading-edges</code></td>
          <td>#fff</td>
        </tr>
        <tr>
          <td><code>--cyrano-solid-no-transparency</code></td>
          <td>#f00</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="detail-section">
    <div class="header">Example usage</div>
    <div class="code-section">
      <code> {{ sectionSeparatorCode }} </code>
    </div>
  </div>
</div>
