<div class="detail">
  <h2 class="intro">Select Field</h2>
  <div class="info">A choice picker for easy user selection.</div>
  <div class="detail-section component-section">
    <div class="header">Demo</div>
    <div class="component-demo">
      <div class="form" [formGroup]="form">
        <lib-input-field-select formControlName="testList" [optionLabel]="'name'" [optionValue]="'value'" label="Select" [options]="options"> </lib-input-field-select>
      </div>
    </div>
  </div>
  <div class="detail-section">
    <div class="header">Required Imports</div>
    <div>import &#123; InputFieldSelectModule &#125; from 'ui-builder-component-lib';</div>
  </div>
  <div class="detail-section">
    <div class="header">Input and Output Properties</div>
    <table class="nested-table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Input</td>
          <td>multiple</td>
          <td>Enables multi-selection if set to true.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>label</td>
          <td>The label text displayed above the input field.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>placeholder</td>
          <td>Placeholder text displayed inside the input field.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>optionLabel</td>
          <td>Property of the option used to display the label in the dropdown.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>optionValue</td>
          <td>Property of the option used as the value for the form control.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>options</td>
          <td>An array of options available for selection.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>optionsTemplates</td>
          <td>An array of templates to customize the option display.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>filterBy</td>
          <td>Property used for filtering the options.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>enableFilter</td>
          <td>If true, enables the filter functionality for the options.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>readonly</td>
          <td>Sets the input field to readonly mode.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>disabled</td>
          <td>Disables the input field if set to true.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>showClear</td>
          <td>Displays a clear button to clear the selection.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>editable</td>
          <td>If true, makes the input field editable.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>withTemplate</td>
          <td>Determines if custom templates are used for displaying options.</td>
        </tr>
        <tr>
          <td>Input</td>
          <td>enableTranslation</td>
          <td>If true, enables translation support for the options and label.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="detail-section">
    <div class="header">CSS Properties</div>
    <table class="nested-table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><code>--border-radius</code></td>
        <td>Border radius of input and it's container.</td>
      </tr>
      <tr>
        <td><code> --input-field-margin </code></td>
        <td>Margin around input field to separate other content like error messages.</td>
      </tr>
      <tr>
        <td><code>--label-font-size-floated</code></td>
        <td>Label font size after floated to top.</td>
      </tr>
      <tr>
        <td><code>--label-color</code></td>
        <td>Label text color.</td>
      </tr>
      <tr>
        <td><code>--label-position-left</code></td>
        <td>Label position distance from left.</td>
      </tr>
      <tr>
        <td><code>--label-position-top</code></td>
        <td>Label position distance from top.</td>
      </tr>
      <tr>
        <td><code>--label-float-position-top</code></td>
        <td>Label top position after floated to top.</td>
      </tr>
      <tr>
        <td><code>--label-padding</code></td>
        <td>Label padding to make space around.</td>
      </tr>
      <tr>
        <td><code>--label-font-family</code></td>
        <td>Font family for label.</td>
      </tr>
      <tr>
        <td><code>--label-font-style</code></td>
        <td>Font style for label.</td>
      </tr>
      <tr>
        <td><code>--label-font-weight</code></td>
        <td>Font weight for label.</td>
      </tr>
      <tr>
        <td><code>--label-font-size</code></td>
        <td>Label font size.</td>
      </tr>
      <tr>
        <td><code>--label-line-height</code></td>
        <td>Label line height.</td>
      </tr>
      <tr>
        <td><code>--input-font-color</code></td>
        <td>Input text color.</td>
      </tr>
      <tr>
        <td><code>--input-font-family</code></td>
        <td>Font family for input field.</td>
      </tr>
      <tr>
        <td><code>--input-font-size</code></td>
        <td>Font size for input text.</td>
      </tr>
      <tr>
        <td><code>--height</code></td>
        <td>Height of the input field.</td>
      </tr>
      <tr>
        <td><code>--width</code></td>
        <td>Width of the input field.</td>
      </tr>
      <tr>
        <td><code>--input-border</code></td>
        <td>Border around input field only.</td>
      </tr>
      <tr>
        <td><code>--input-padding</code></td>
        <td>Input field space inside.</td>
      </tr>
      <tr>
        <td><code>--box-shadow</code></td>
        <td>Input field box shadow.</td>
      </tr>
      <tr>
        <td><code>--border</code></td>
        <td>Border around the full component.</td>
      </tr>
      <tr>
        <td><code>--dropdown-background</code></td>
        <td>dropdown background color.</td>
      </tr>
      <tr>
        <td><code>--input-icon-color</code></td>
        <td>dropdown icon color.</td>
      </tr>
    </table>
  </div>
  <div class="detail-section">
    <div class="header">Example usage</div>
    <div class="code-section">
      <code>{{ codeExample }}</code>
    </div>
  </div>
</div>
