:host {
  padding: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
}

lib-selectable {
  --ion-text-color: #fe3c72;
  margin: 10px 0;
  display: flex;
}

.value {
  margin-top: 16px;
}
